<input type="text" placeholder="Search" [(ngModel)]="search">
<div class="search-results">
    <div class="container" style="overflow: scroll; height: 600px;" (scroll)="onScroll($event)">


        <mat-grid-list cols="3">

            <div class="row">
                <div class="search-barre" *ngFor="let item of items | filter: search;">
                    <mat-grid-tile class="gridStyle">
                        <mat-card class="example-card" (mouseenter)="showElement=!showElement" (mouseleave)="showElement=!showElement">
                            <mat-card-header>
                                <div class="mat-card-header-text " style="margin: -16px; "></div>
                                <button class="btnStyle " *ngIf="checkfav(item.id)  " (click)="removefav(item.id) ">In favorites</button>
                                <button class="btnStyle " *ngIf="!checkfav(item.id) " (click)="addFav(item.id) ">Add To favorites</button>
                            </mat-card-header>

                            <h2 class="authorStyle ">{{item.author}}</h2>

                            <img mat-card-image class="imgStyle " [src]="item.download_url " alt="Photo of a Shiba Inu ">
                            <mat-card-content>
                                <p>
                                    {{item.randomText}}
                                </p>
                            </mat-card-content>
                        </mat-card>

                    </mat-grid-tile>
                </div>
            </div>
        </mat-grid-list>

    </div>
</div>