.example-card {
    width: 400px;
    border: #0081a7 solid 8px;
}

.gridStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.btnStyle {
    width: 100%;
    background-color: #0081a7;
    border: 0;
}

.authorStyle {
    color: #0081a7;
    font-size: 28px;
    font-weight: 200;
}

.imgStyle {
    width: 200px;
    height: 200px;
}

.recherche {
    height: 40px;
    width: 600px;
    border: 4px solid #117488;
    padding: 0 1rem;
    font-size: 24px;
    font-family: Source Sans Pro, sans-serif;
    font-weight: 900;
    color: #292929;
}

#list {
    overflow: auto;
    height: 600px
}