<div class="search-results">
    <div class="container" style="overflow: scroll; height: 600px;">
        <mat-grid-list cols="3">

            <div class="row">
                <div *ngFor="let item of list">
                    <mat-grid-tile class="gridStyle">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <div class="mat-card-header-text " style="margin: -16px; "></div>
                                <button class="btnStyle" (click)="removefav(item.id)">Remove</button>
                            </mat-card-header>

                            <h2 class="authorStyle ">{{item.author}}</h2>

                            <img mat-card-image class="imgStyle " [src]="item.download_url " alt="Photo of a Shiba Inu ">
                            <mat-card-content>
                                <p>
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                                </p>
                            </mat-card-content>
                        </mat-card>

                    </mat-grid-tile>
                </div>
            </div>
        </mat-grid-list>
    </div>
</div>